<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
              <%= link_to admin_user_path(user) do %>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, class: "rounded-circle", size: "60x60" %>
                  <% else %>
                    <%= image_tag 'no_image', class: "rounded-circle", size: "60x60" %>
                  <% end %>
                </td>
              <% end %>
              <td class="align-middle"><%= link_to user.user_name, admin_user_path(user), class: "text-dark" %></td>
              <td class="align-middle">
                <% if user.is_deleted == false %>
                  <p class="text-success font-weight-bold mb-0">有効</p>
                <% else %>
                  <p class="text-secondary font-weight-bold mb-0">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>